* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer {
  background-color: rgb(235, 235, 235);
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.footer-infos {
  color: black;
  display: flex;
  flex-direction: column;
}

.footer-infos span {
  margin-bottom: 5px;
}
